<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shoping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="shoping.Properties.Settings.advanceConnectionString"
            connectionString="Data Source=HOSSAM\MSSQL;Initial Catalog=advance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <shoping.Properties.Settings>
            <setting name="query" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="w" serializeAs="String">
                <value>-50, 0</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value>400, 0</value>
            </setting>
        </shoping.Properties.Settings>
    </userSettings>
</configuration>